<style>
body {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
}
</style>

<% include ../partials/header %>


<div class="main-content text-center">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Welcome Back!</h2>
        <h3>Log In Here</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-left">
        <hr>
        <form class="form" method="post" action="/auth/login">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter your e-mail" name="email">
          <br><br>
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" name="password">
          <br><br>
          <div class="text-center">
            <input type="submit" value="Log In" class="btn btn-primary">
            <a href="/auth/signup"><button type="button" class="btn btn-info">Sign Up</button></a>
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div>

</div>


<% include ../partials/footer %>
