<style>
body {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
}
</style>

<% include ../partials/header %>


<div class="main-content text-center">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Become a New Member!</h2>
        <h3>Sign Up Now</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 text-left">
        <hr>
        <form id="signup-form" class="form" method="post" action="/auth/signup">
          <label>Email</label>
          <input type="email" id="email" class="form-control" placeholder="Enter your e-mail" name="email">
          <br><br>
          <label>Name</label>
          <input type="text" id="name" class="form-control" placeholder="Enter your name" name="name">
          <br><br>
          <label>Password</label>
          <input type="password" id="password" class="form-control" placeholder="Choose a password" name="password">
          <br><br>
          <label>Confirm Password</label>
          <input type="password" id="confirm-password" class="form-control" placeholder="Re-type your password" name="confirm-password">
          <br><br>
          <div class="text-center">
            <input type="submit" value="Sign Up" class="btn btn-signup">
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div>

</div>


<% include ../partials/footer %>