<style>
body {
  background: url('/images/bkgrnd8.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>

<% include ../partials/header %>


<div class="main-content text-center">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Shopping List</h2>
      </div>
    </div>
  </div>

  <div class="container shopping-list text-left">
    <div class="row">
      <% for (key in groupedIngredients) { %>
        <div class="col-xs-12 col-sm-6">
          <h4><a href="/search/drink/<%= groupedIngredients[key][0].RecipeID %>"><%= groupedIngredients[key][0].Title %></a>&nbsp;&nbsp;<a href="/shopping/<%= groupedIngredients[key][0].RecipeID %>" class="shop-page-del-btn btn btn-md"><i class="glyphicon glyphicon-remove"></i></a></h4>
          <hr>
          <ul>
            <% for (var i = 0; i < groupedIngredients[key].length; i++) { %>
              <li><%= groupedIngredients[key][i].Name %></li>
            <% } %>
          </ul>
        </div>
      <% }; %>
    </div>
  </div>

</div>


<% include ../partials/footer %>




