<% include ../partials/header %>

<div class="container text-center">
  <h2>This is Shopping List</h2>

  <ul>
  <% shopList.forEach(function(drink,idx) { %>
    <li><a href="/search/drink/<%= drink.RecipeID %>"><%= drink.Title %></a><a href="/shopping/<%= drink.RecipeID %>" class="shop-page-del-btn"><i class="glyphicon glyphicon-trash"></i></a></li>
  <% }); %>
  </ul>

  <ul>
  <% shopList.forEach(function(drink,idx) { %>
    <li><%= drink.Name %></li>
  <% }); %>
  </ul>


</div>

<% include ../partials/footer %>



