<% include ../partials/header %>

<style>
body {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>


<!-- <div class="contact-backgrnd"> -->
<div class="contact-page container text-center">
  <h2>Contact</h2>

  <p>This app was designed and built by Greg Wyszynski, A student in web development at General Assembly, Seattle. I will be available for work opportunities in June. Please feel free to contact me on Linked In.</p>

  <h5>Links:</h5>
  <ul>
    <li><a href="https://www.linkedin.com/in/gregwyszynski85
" target="_blank">Greg's Linked In</a></li>
    <li><a href="https://generalassemb.ly/" target="_blank">General Assembly</a></li>
  </ul>



</div>
<!-- </div> -->


<% include ../partials/footer %>