</div> <!-- end of .el-div-grande -->

<div class="the-footer text-center">

  <ul>
    <li><a type="button" data-toggle="modal" data-target="#aboutModal">About</a></li>
    <li>&copy; 2015 Gregory Wyz</li>
    <li><a type="button" data-toggle="modal" data-target="#contactModal">Contact</a></li>
  </ul>

</div>

<!-- Contact Modal -->
<div class="modal fade text-center" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactModalLabel">Contact</h4>
      </div>
      <div class="modal-body">

        <img  class="headshot" src="/images/headshot.jpg">
        <h4>Greg Wyszynski</h4>
        <p>Hire me! I'm in the Greater San Diego area and could be your next super awesome developer!</p>
        <ul class="contact-links">
          <li data-toggle="tooltip" data-placement="bottom" title="Linked In"><a href="https://www.linkedin.com/in/gregwyszynski85" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="My Portfolio"><a href="http://gregorywyszynski.com/" target="_blank"><i class="fa fa-user"></i></a></li>
          <li data-toggle="tooltip" data-placement="bottom" title="GitHub"><a href="https://github.com/gregorywyz" target="_blank"><i class="fa fa-github-square"></i></a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel">About</h4>
      </div>
      <div class="modal-body">

        <p>The Cocktail Wyz was designed and built by Greg Wyszynski as a project for General Assembly's Web Development Immersive program. Enjoy looking up new drink recipes while also being entertained by a live Instagram feed. Securely login and create a shopping list or add drinks to your favorites. The data is supplied by the <a href="http://api.bigoven.com/" target="_blank">BigOven API</a></p>
        <p>Node.js, Bootstrap, and Postgres are the main technologies I used to created this app in just my first few weeks of developing.</p>
        <p>Enjoy the app, and drink safely!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>