  <div class="the-footer text-center navbar-fixed-bottom">

    <ul>
      <li><a href="/about">About</a></li>
      <li>|</li>
      <li>&copy; 2015 Gregory Wyz</li>
      <li>|</li>
      <li><a href="/contact">Contact</a></li>
    </ul>


  </div>

</div> <!-- end of .el-div-grande -->
</body>
</html>