<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cocktail Wyz</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<div class="el-div-grande">

  <nav class="navbar navbar-default navbar-fixed-top">  <!-- start of navbar -->
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img id="main-logo" alt="Brand" src="/images/martini_1.png">
        </a>
        <h1 class="navbar-text"><a href="/">Cocktail Wyz</a></h1>
      </div>
    </div>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <ul class="nav nav-tabs pull-right">
          <li role="presentation" class="active"><a href="/search">Search</a></li>
          <li role="presentation"><a href="/shopping">Shopping List</a></li>
          <li role="presentation"><a href="/favorites">Favorites</a></li>
          <li role="presentation"><a href="#">About</a></li>
          <li role="presentation"><a href="#">Log In</a></li>
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>   <!-- end of navbar -->
