<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cocktail Wyz</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Righteous' rel='stylesheet' type='text/css'>
  <!-- LOAD CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/><!-- LOAD SLICK -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/><!-- LOAD SLICK -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- LOAD JAVASCRIPT -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script><!-- LOAD SLICK -->
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>

  <nav class="the-header navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="main-logo" class="navbar-brand" href="/"><img style="max-width:25px;" alt="Brand" src="/images/martini_2.png"></a>
      <p class="navbar-text"><a href="/">The Cocktail Wyz</a></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Search</a></li>
        <li class="<%= user ? '' : ' hidden' %>"><a href="/shopping">Shopping List</a></li>
        <li class="<%= user ? '' : ' hidden' %>"><a href="/favorites">Favorites</a></li>
        <li class="<%= user ? 'hidden' : '' %> login-btn"><button type="button" class="btn btn-blue btn-md" data-toggle="modal" data-target="#loginModal">LogIn</button></li>
        <li class="<%= user ? '' : 'hidden' %>"><a href="/auth/logout">LogOut</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content login-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
          <h4 class="modal-title" id="loginModalLabel">Sign in, or become a member now!</h4>
        </div>
        <div class="modal-body">

              <form id="login-form-m" class="login-modal form" method="post" action="/auth/login">
                  <label>Email</label>
                  <input type="email" id="email-m" class="form-control" placeholder="Enter your e-mail" name="email">
                  <br><br>
                  <label>Password</label>
                  <input type="password" id="password-m" class="form-control" placeholder="Enter your password" name="password">
                  <br><br>
                  <input type="submit" value="Log In" class="btn btn-primary">
                  <button type="button" class="btn btn-info"><a href="/auth/signup">Sign Up</a></button>
              </form>

        </div>
      </div>
    </div>
  </div>

  <div id="el-div-grande">

  <% include ../partials/alerts.ejs %>


