<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Righteous' rel='stylesheet' type='text/css'>
  <title>Cocktail Wyz</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<div id="el-div-grande">

  <nav class="the-header navbar navbar-default navbar-fixed-top">  <!-- start of navbar -->
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <!-- <img id="main-logo" alt="Brand" src="/images/martini_1.png"> -->
          <img id="main-logo" alt="Brand" src="/images/martini_2.png">
        </a>
        <h1 class="navbar-text"><a href="/">The Cocktail Wyz</a></h1>
      </div>
    </div>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="the-navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <!--      <ul class="nav navbar-nav pull-right"> -->
        <ul id="myTab" class="nav nav-pills pull-right">
          <li role="presentation" class="header-link"><a href="/">Search</a></li>
          <li role="presentation" class="header-link <%= user ? '' : ' hidden' %>"><a href="/shopping">Shopping List</a></li>
          <li role="presentation" class="header-link <%= user ? '' : ' hidden' %>"><a href="/favorites">Favorites</a></li>
          <li role="presentation" class="<%= user ? 'hidden' : '' %>"><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">LogIn</button></li>
          <li role="presentation" class="<%= user ? '' : 'hidden' %>"><button type="button" class="btn btn-danger btn-md"><a href="/auth/logout">LogOut</a></button></li>
        </ul>
      <!-- </ul> -->
    </div><!-- /.navbar-collapse -->
        <% include alerts %>
  </nav>   <!-- end of navbar -->




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign in, or become a member now!</h4>
      </div>
      <div class="modal-body">

            <form class="login-modal form" method="post" action="/auth/login">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter your e-mail" name="email">
                <br><br>
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Choose a password" name="password">
                <br><br>
                <input type="submit" value="Log In" class="btn btn-primary">
                <button type="button" class="btn btn-info"><a href="/auth/signup">Sign Up</a></button>
            </form>

      </div>
    </div>
  </div>
</div>

