<% include ../partials/header %>

<div class="container text-center">
  <h2>Search RESULTS here!</h2>
  <p>Results:<%= Results.length %></p>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th class="text-center">Search Result:<%= Results.length %></th>
      </tr>
      <% Results.forEach(function(drink,idx) { %>
      <tr>
        <td><a href="/search/drink/<%= drink.RecipeID %>"><%= drink.Title %></a></td>
      </tr>
      <% }) %>
    </table>
  </div>

</div>


<% include ../partials/footer %>