<% include ../partials/header %>

<style>
body {
  background: url('/images/bkgrnd2.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>

<!-- <div class="results-backgrnd"> -->
<div class="results-page container text-center">
  <h2>Pick Your Poison</h2>
  <div class="results-table row">
    <p><%= Results.length %>&nbsp;Results:</p>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

        <table class="table">
          <% Results.forEach(function(drink,idx) { %>
          <tr>
            <td><a href="/search/drink/<%= drink.RecipeID %>"><%= drink.Title %></a></td>
          </tr>
          <% }) %>
        </table>

    </div>
  </div>

</div>
<!-- </div> -->


<% include ../partials/footer %>