<% include partials/header %>

<div class="container text-center">
  <h2>This is the INDEX</h2>

  <div class="list-group">
    <a href="/search/byName" class="list-group-item">Search by Cocktail</a>
    <a href="/search/byIngredient" class="list-group-item">Search by Ingredients</a>
    <a href="#" class="list-group-item">Build a Shopping List</a>
    <a href="#" class="list-group-item">Favorites</a>
  </div>
</div>

<% include partials/footer %>