<style>
body {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
}
</style>

<% include partials/header %>


<div class="main-content text-center">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Welcome to The Cocktail Wyz!</h2>
      <h3>Get inspired, get drunk.</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <form action="/search/results" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Cocktail Name">
        </div>
        <button type="submit" class="home-btn btn btn-primary">Cocktail Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="search-p">Search for cocktail recipes here and expand your horizons. Check out what others are having and get creative.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="pics-div row">
    <div class="col-xs-12">
      <ul>
      <% pics.forEach(function(pic,idx) { %>
        <li><a href="<%= pic.link %>" target="_blank"><img class="pics-home" src="<%= pic.images.standard_resolution.url %>"></a></li>
      <% }); %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="info-row row">
    <div class="col-xs-12 col-sm-6">
      <h3>Shop</h3>
      <p>Build a shopping list to store the ingredients of a number of drinks. Never forget an ingredient while shopping again! Simply search for a cocktail and add it to your shopping list. </p>
      <% if (!user) { %>
        <button type="button" class="home-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">Must Log In</button>
      <% } else { %>
        <a href="/shopping"><button type="button" class="home-btn btn btn-primary btn-sm" data-toggle="modal">Go To List</button></a>
      <% } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Favorites</h3>
      <p>Keep track of what you like on your favorites list. Always have a quick refernces to any amazing recipe you fancy. Simply search for a cocktail and add it to your favorites.</p>
      <% if (!user) { %>
        <button type="button" class="home-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">Must Log In</button>
      <% } else { %>
        <a href="/favorites"><button type="button" class="home-btn btn btn-primary btn-sm" data-toggle="modal">Go To Favs</button></a>
      <% } %>
    </div>
  </div>
</div>

</div>


<% include partials/footer %>