<% include partials/header %>

<div class="container text-center">
  <h2>This is the INDEX</h2>

  <div class="list-group">
    <a href="/search" class="list-group-item">Search a Cocktail</a>
    <a href="/shopping" class="list-group-item">Build a Shopping List</a>
    <a href="/favorites" class="list-group-item">Favorites</a>
  </div>
</div>

<% include partials/footer %>