

/* Main
********************************************************************************/

html,
body {
  /*height: 100%;*/
}

#el-div-grande {
  margin-top: 100px;
  color: #fff;
  /*position:relative;*/
  /*min-height:100%;*/
}

.home-page,
.auth-page,
.results-page,
.show-page,
.favs-page,
.shop-page {
    /*min-height: 100%;*/
    /*height: 100%;*/
    background: rgba(0,0,0,.7);
}

.home-backgrnd,
.results-backgrnd,
.show-backgrnd,
.favs-backgrnd,
.shop-backgrnd {

}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header
********************************************************************************/

.the-header {
  border: none;
  background: #333;
}

.login-hello {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
}

#main-logo {
  max-height: 70px;
  padding: 3px;
  background: rgb(131, 229, 131);
  border: 5px solid #000;
  border-radius: 3px;
}


.pics-div {
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
  height: 300px;
}

.pics-div li{
    display:inline-block;
    white-space: normal;
}

/* Footer
********************************************************************************/

.the-footer {
  /*position:absolute;*/
  /*bottom:0;*/
  height:60px;   /* Height of the footer */
  width:100%;
  background: #333;
}



/* Home Page
********************************************************************************/

.home-backgrnd {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.pics-home {
  max-height: 300px;
}

/* Login Pages
********************************************************************************/

.login-backgrnd {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Search Results Page
********************************************************************************/

.results-backgrnd {
  background: url('/images/bkgrnd2.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Show Page
********************************************************************************/

.show-backgrnd {
  background: url('/images/bkgrnd3.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Favorites Page
********************************************************************************/

.favs-backgrnd {
  background: url('/images/bkgrnd4.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Shopping List Page
********************************************************************************/

.shop-backgrnd {
  background: url('/images/bkgrnd5.jpeg') no-repeat center center fixed;
  background-size: cover;
}


