/* Colors
********************************************************************************/

body {
  color: #fff;
}

.alert {
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
}

a {
  color: inherit;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover,
a:focus {
  color: #FF9966;
}

.navbar-text a {
  color: rgb(131, 229, 131);
  margin-left: 20px;
  font-size: 20px;
}

h2 {
  color: #CCFFFF;
}

h3 {
  color: #CCFFFF;
}

h4 {
  color: #FF9966;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #CCFFFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #CCFFFF;
  color: rgb(131, 229, 131);
}

#logout>a {
  color: #FF9966;
}
#logout>a:hover,
#logout>a:focus {
  color: #CCFFFF;
}

.the-header {
  background: #333;
}

.the-footer {
  background: #333;
}

#main-logo {
  background: rgb(131, 229, 131);
  border: 5px solid #000;
}

#bs-example-navbar-collapse-1 {
  background: #333;
}

.login-modal {
  background: #738c73;
  background: rgba(115,140,115,1);
}

.login-modal span {
  color: #fff;
}

.pics-home {
  border: 2px solid white;
}

.favs-page-del-btn {
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.favs-page-del-btn:hover,
.favs-page-del-btn:focus {
  color: red;
}

.shop-page-del-btn {
  color: white;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.shop-page-del-btn:hover,
.shop-page-del-btn:focus {
  color: red;
}


/* Main
********************************************************************************/

body {
  font-family: 'PT Sans', Helvetica;
  font-size: 14px;
  padding-top: 70px;
  /*height: 100%;*/
  background-color: #000000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#el-div-grande {
  margin: 20px 15px;
}

/*
* Media Queries to work with bootstraps fixed width containers
******************************************/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #el-div-grande {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #el-div-grande {
    max-width: 970px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #el-div-grande {
    max-width: 1170px;
  }
}


.main-content {
  margin-bottom: 20px;
  min-height: 100%;
  background: #151515;
  background: rgba(0,0,0,.8);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-family: 'Righteous', Helvetica;
}

h2 {
  margin-top: 40px;
  font-size: 25px;
}

h3 {
  margin-bottom: 40px;
  font-family: 'Righteous', Helvetica;
  font-size: 30px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}

.home-btn {
  color: #fff;
  background-color: transparent;
  border-color: rgb(131, 229, 131);
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.home-btn:hover,
.home-btn:focus {
  color: rgb(131, 229, 131);
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.add-btn {
  color: #fff;
  background-color: transparent;
  border-color: rgb(131, 229, 131);
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.add-btn:hover,
.add-btn:focus {
  color: rgb(131, 229, 131);
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.del-btn {
  color: #fff;
  background-color: transparent;
  border-color: red;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.del-btn:hover,
.del-btn:focus {
  color: red;
  background-color: transparent;
  border-color: red;
}
.btn-close {
  color: #fff;
  background-color: transparent;
  border-color: #FF9966;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-close:hover,
.btn-close:focus {
  color: #FF9966;
}

.form-highlight {
  border: 3px solid #ff0000;
}
.form-msg {
  margin-top: 10px;
  color: #83E583;
}

/* Header
********************************************************************************/

.the-header {
  border: none;
}

.login-hello {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
}


ul.nav.navbar-nav.navbar-right li {
    text-align: center;
}

.login-btn {
  margin-top: 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .login-btn {
    margin-top: 8px;
  }

  ul.nav.navbar-nav.navbar-right {
    margin-right: 15px;
  }

  /* adjustment to center modal */
  #loginModal {
    padding-left: 15px;
  }
}

.btn-blue {
  color: #CCFFFF;
  background-color: transparent;
  border-color: #CCFFFF;
  -webkit-transition: 0.3s;
  -mox-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-blue:focus,
.btn-blue:hover {
  color: #CCFFFF;
  background-color: #660066;
  background-color: rgba(102,0,102,0.6);
  border-color: #CCFFFF;
}

#main-logo {
  height: 40px;
  padding: 3px;
  border-radius: 3px;
  margin: 5px 0 5px 15px;
}

.navbar-text {
  margin: 10px 0 0;
}

.hamburger {
  margin-top: -15px;
}

.navbar-default .navbar-toggle {
  border-color: rgb(131, 229, 131);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(131, 229, 131);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(131, 229, 131);
}


/* Footer
********************************************************************************/

.the-footer {
  min-height:50px;
  width:100%;
  margin-top: 40px;
  position: relative;
  clear: both;
}

.the-footer > ul {
  margin: 0;
  padding: 15px 0;
}

.the-footer > ul > li {
  margin: 15px 0;
  padding: 5px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .the-footer > ul > li {
    display: inline-block;
    padding: 5px 15px;
  }
  .the-footer > ul > li:nth-child(2) {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }

  /* adjustment to center modal */
  #aboutModal,
  #contactModal {
    padding-left: 15px;
  }
}

.the-footer a {
  cursor: pointer;
}


/* Home Page
********************************************************************************/

.search-p {
    margin: 30px 0;
}

.pics-home {
  /*max-height: 200px;*/
  /*margin: 10px;*/
  height: 200px;
  margin: 10px 10px 0;
  border-radius: 10px;
}

/* Slick overrides */
.slick-list.draggable {
  height: 220px;
}
.slick-slide {
  width: auto;
  margin: 0 auto;
}

.info-row {
  margin-bottom: 30px;
}

.info-row > div {
  padding: 15px;
}


/* Search Results Page
********************************************************************************/

.results-table {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space:nowrap;
}

.search-result {
  font-size: 1.8em;
}

.ul-results {
  background: #660066;
  background: rgba(102,0,102,0.6);
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}


/* Show Page
********************************************************************************/

.btn-row {
  padding: 10px;
  margin: 20px 0;
}

.show-btn {
  margin: 10px;
}

.show-details {
  margin: 30px 0;
}

.ingredients-table > tbody > tr > td,
.makes-table > tbody > tr > td {
  border: none;
}


/* Favorites Page
********************************************************************************/

.favs-table {
  margin: 40px auto 0;
  max-width: 500px;
}

.favs-table > tbody > tr > th {
  padding-bottom: 20px;
  border: none;
  color: #CCFFFF;
}

.favs-table > tbody > tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}

.fav-result {
  font-size: 1.8em;
}


/* Shopping List Page
********************************************************************************/

.shopping-list li {
  margin: 20px;
}


/* About Modal
********************************************************************************/

.headshot {
  width: 50%;
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.contact-links {
  margin-top: 20px;
}

.contact-links>li {
  display: inline-block;
  font-size: 50px;
  margin: 0 20px;
}




