/* Colors
********************************************************************************/

body {
  color: #fff;
}

.alert {
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
}

a {
  color: inherit;
}
a:hover {
  color: #FF9966;
}

.navbar-text a {
  color: rgb(131, 229, 131);
  margin-left: 20px;
  font-size: 20px;
}

h2 {
  color: #CCFFFF;
}

h3 {
  color: #CCFFFF;
}

h4 {
  color: #FF9966;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #CCFFFF;
}

.the-header {
  background: #333;
}

.the-footer {
  background: #333;
}

#main-logo {
  background: rgb(131, 229, 131);
  border: 5px solid #000;
}

#bs-example-navbar-collapse-1 {
  background: #333;
}

.login-modal {
  background: rgba(115,140,115,1);
}

.login-modal span {
  color: #fff;
}

.pics-home {
  border: 2px solid white;
}

.favs-page-del-btn:hover {
  color: red;
}

.shop-page-del-btn {
  color: white;
}
.shop-page-del-btn:hover {
  color: red;
}


/* Main
********************************************************************************/

body {
  font-family: 'PT Sans', Helvetica;
  font-size: 14px;
  padding-top: 70px;
}

#el-div-grande {
  margin: 20px 15px;
  height: 100vh;
}

/*
* Media Queries to work with bootstraps fixed width containers
******************************************/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #el-div-grande {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #el-div-grande {
    max-width: 970px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #el-div-grande {
    max-width: 1170px;
  }
}


.main-content {
  margin-bottom: 70px;
  min-height: 100%;
  background: rgba(0,0,0,.8);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-family: 'Righteous', Helvetica;
}

h2 {
  margin-top: 40px;
  font-size: 25px;
}

h3 {
  margin-bottom: 40px;
  font-family: 'Righteous', Helvetica;
  font-size: 30px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}

.home-btn {
  color: #fff;
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.home-btn:hover {
  color: rgb(131, 229, 131);
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.add-btn {
  color: #fff;
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.add-btn:hover {
  color: rgb(131, 229, 131);
  background-color: transparent;
  border-color: rgb(131, 229, 131);
}
.del-btn {
  color: #fff;
  background-color: transparent;
  border-color: red;
}
.del-btn:hover {
  color: red;
  background-color: transparent;
  border-color: red;
}


/* Header
********************************************************************************/

.the-header {
  border: none;
}

.login-hello {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
}

/* adjustment to center modal */
#loginModal {
  padding-left: 15px;
}

ul.nav.navbar-nav.navbar-right li {
    text-align: center;
}

.login-btn {
  margin-top: 0px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .login-btn {
    margin-top: 8px;
  }

  ul.nav.navbar-nav.navbar-right {
      margin-right: 15px;
  }
}

#main-logo {
  height: 40px;
  padding: 3px;
  border-radius: 3px;
  margin: 5px 0 5px 15px;
}

.navbar-text {
  margin: 10px 0 0;
}

.hamburger {
  margin-top: -15px;
}

.navbar-default .navbar-toggle {
  border-color: rgb(131, 229, 131);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(131, 229, 131);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(131, 229, 131);
}


/* Footer
********************************************************************************/

.the-footer {
  height:50px;
  width:100%;
  margin-top: 20px;
}

.the-footer > ul > li {
  display: inline-block;
  margin: 15px 10px 0;
}

.the-footer a {
  cursor: pointer;
}

/* adjustment to center modal */
#aboutModal,
#contactModal {
  padding-left: 15px;
}

/* Home Page
********************************************************************************/

.search-p {
    margin: 30px 0;
}

.pics-home {
  max-height: 200px;
  margin: 10px;
  border-radius: 10px;
}

.pics-div {
  /*height: 300px;*/
  margin: 20px 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
}

.pics-div li{
  display:inline-block;
  white-space: normal;
}

.info-row {
  margin-bottom: 30px;
}

.info-row > div {
  padding: 15px;
}



/* Login Pages
********************************************************************************/



/* Search Results Page
********************************************************************************/

.results-table {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space:nowrap;
}

.search-result {
  font-size: 1.8em;
}

.ul-results {
  background: rgba(102,0,102,0.6);
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}


/* Show Page
********************************************************************************/

.btn-row {
  padding: 10px;
  margin: 20px 0;
}

.show-btn {
  margin: 10px;
}

.show-details {
  margin: 30px 0;
}

.ingredients-table > tbody > tr > td,
.makes-table > tbody > tr > td {
  border: none;
}


/* Favorites Page
********************************************************************************/

.favs-table {
  margin: 40px auto 0;
  max-width: 500px;
}

.favs-table > tbody > tr > th {
  padding-bottom: 20px;
  border: none;
  color: #CCFFFF;
}

.favs-table > tbody > tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}

.fav-result {
  font-size: 1.8em;
}


/* Shopping List Page
********************************************************************************/

.shopping-list li {
  margin: 20px;
}
