<% include ../partials/header %>

<div class="container text-center">
  <h2>This is Favorites</h2>

  <ul>
  <% drinks.forEach(function(drink,idx) { %>
    <li><a href="/search/drink/<%= drink.RecipeID %>"><%= drink.Title %></a><a href="/favorites/<%= drink.RecipeID %>" class="favs-page-del-btn btn btn-sm"><i class="glyphicon glyphicon-trash"></i></a></li>
  <% }) %>
  </ul>

</div>

<% include ../partials/footer %>


