<style>
body {
  background: url('/images/bkgrnd1.jpg') no-repeat center center fixed;
}
</style>

<% include ../partials/header %>


<div class="main-content container text-center">
  <h2>About</h2>

  <p>The Cocktail Wyz was designed and built by Greg Wyszynski. A student in web development at General Assembly, Seattle. This app is an example of the technologies that were taught during the first 4 weeks of the program.</p>

  <h2>Contact</h2>

  <p>I am currently a full-time student until the month of June 2015. I will be interested in any work opportunities at that time. Feel free to contact me through Linked In and check out General Assembly to discover more about what they are doing.</p>

  <h5>Links:</h5>
  <ul>
    <li><a href="https://www.linkedin.com/in/gregwyszynski85
" target="_blank">Greg's Linked In</a></li>
    <li><a href="https://generalassemb.ly/" target="_blank">General Assembly</a></li>
  </ul>




</div>



<% include ../partials/footer %>